.order_page {
  font-family: "Pretendard", "Karla", sans-serif;
  display: flex;
  align-items: center;
  justify-content: left;
  height: 57px;
  border-bottom: 1px solid rgb(229, 232, 235);
}
@media (min-width: 768px) {
  .order_page {
    padding-left: 1.5rem;
  }
}
.order_form {
  font-family: "Pretendard", "Karla", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  max-width: 200rem;
  padding: 20px;
  & input {
    height: 2.5rem;
    border: 1px solid rgb(176 184 193);
    border-radius: 0.375rem;
    padding: 5px;
    margin-right: 20px;
  }
  & select {
    height: 3rem;
    border: 1px solid rgb(176 184 193);
    border-radius: 0.375rem;
    padding: 5px;
  }
}

.product_info_order {
  margin: 2rem;
  margin-bottom: 10rem;
  padding: 1rem;
  border: 1px solid rgb(229, 232, 235);
}
.info_group,
.payments_info {
  display: flex;
  justify-content: start;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  margin-top: 10px;
}
.info_title {
  font-size: 14px;
  font-weight: 600;
  padding-top: 1rem;
  margin-bottom: 2rem;
}

.label_field {
  font-size: 14px;
  margin-bottom: 10px;
}
.phone_box {
  display: flex;
  justify-content: center;
  align-items: center;

  & input {
    width: 80%;
  }
}

.person_name {
  width: 65%;
  & input {
    width: 90%;
  }
}
.adress_info input,
.request_info select,
.payments_info button {
  width: 100%;
}
.adress_search {
  all: unset;
  font-weight: 700;
  width: 70px;
  height: 48px;
  margin: 0px 20px 0px 0px;
  font-size: 12px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  background-color: #f8f8f8;
}

.button {
  all: unset;
  width: 6rem;
  height: 3rem;
  margin-right: 1rem;
  font-size: 14px;
  border: 1px solid #363636;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.buttonActive {
  all: unset;
  width: 6rem;
  height: 3rem;
  margin-right: 1rem;
  font-size: 14px;
  border: 1px solid #363636;
  background-color: #363636;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

.product_section {
  display: block;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid rgb(229, 232, 235);
  padding: 1rem 0rem 1rem 0rem;
}
.product_section_top {
  display: flex;
  justify-content: left;
  align-items: center;
  height: 2rem;
  border-bottom: 1px solid rgb(229, 232, 235);
  & h6 {
    font-size: 14px;
    font-weight: 600;
  }
}
.order_image {
  width: 80px;
  height: 96px;
  background-color: aqua;
  margin-right: 0.5rem;
}

.order_summary {
  display: flex;
  justify-content: space-evenly;
  height: 100%;
}
.price_detail,
.price_detail_title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.order_price {
  display: flex;
  justify-content: right;
  align-items: end;
}
.order_info_total {
  margin-right: 10%;
}
.order_info_name {
  font-weight: 700;
  font-size: 15px;
}
.order_info_sub,
.order_price {
  font-weight: 500;
  font-size: 15px;
  color: #a8aab1;
}
.price_detail {
  margin-bottom: 0.8rem;
  font-weight: 400;
  font-size: 0.9rem;
  color: #52515c;
}
.price_detail_title {
  margin-bottom: 0.8rem;
  font-weight: 700;
  font-size: 1rem;
}
.goto_order.active {
  all: unset;
  width: 20rem;
  height: 3rem;
  margin-top: 1rem;
  padding: 0rem 1rem 0rem 1rem;
  font-size: 14px;
  border: 1px solid #191f28;
  background-color: #191f28;
  color: white;
  border-radius: 5px;
  text-align: center;
}
.goto_order {
  all: unset;
  width: 20rem;
  height: 3rem;
  margin-top: 1rem;
  padding: 0rem 1rem 0rem 1rem;
  font-size: 14px;
  border: 1px solid #f8f8f8;
  background-color: #f8f8f8;
  color: #d3d9e0;
  border-radius: 5px;
  text-align: center;
}
.product_order_agree {
  margin: 1rem 0rem 1rem 0rem;
  font-size: 0.9rem;
}

.select_direct_input {
  margin: 1rem 0rem 1rem 0rem;
  width: 98%;
}
