.cart_form {
  max-width: 1280px;
  box-sizing: border-box;
  display: block;
  unicode-bidi: isolate;
  margin-left: auto;
  margin-right: auto;
}

.count {
  display: flex;
  align-items: center;
  height: 64px;
  padding-top: 28px;
  padding-bottom: 15px;
}

.count_label {
  font-size: 14px;
  margin-right: 10px;
  margin-left: 10px;
}
.count_num {
  font-size: 12px;
  background-color: rgb(229, 232, 235);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  font-weight: 600;
}
.select {
  height: 60px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
  padding-bottom: 20px;
}
.select_all {
  flex-direction: column;
}

.amount {
  border-top: 1px solid rgb(229, 232, 235);
  display: grid;
  justify-content: end;
  align-content: end;
  margin-top: 2rem;
  padding-top: 1rem;
}

button.cancel_all {
  display: inline-block;
  color: rgb(51, 61, 75);
  background-color: transparent;
  border: none;
  font: inherit;
  cursor: pointer;
}

.select_all_box label {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.pay_member {
  margin-top: 64px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pay_member_yes {
  all: unset;
  font-weight: 700;
  width: 280px;
  height: 48px;
  padding: 0px 16px 0px 16px;
  background-color: #363636;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}
.pay_member_no {
  all: unset;
  font-weight: 700;
  width: 280px;
  height: 48px;
  padding: 0px 16px 0px 16px;
  background-color: #f2f4f6;
  color: black;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  margin-right: 15px;
}
.pay_btn {
  display: flex;
  justify-content: center;
  align-items: center;
}
.pay_continue {
  all: unset;
  font-size: 13px;
  margin-top: 24px;
  color: #333d4b;
  text-decoration: underline;
  cursor: pointer;
}

#checkall {
  display: none; /* 기본 체크박스 숨김 */
  & + label:before {
    content: ""; /* 가상 요소의 내용을 정의 */
    display: inline-block;
    width: 16px;
    height: 16px;
    background-color: white;
    border-radius: 20%;
    border: 1px solid rgb(209, 214, 219);
    position: relative;
    margin-right: 10px;
  }
  &:checked + label:before {
    content: "";
    background-color: rgb(54, 54, 54); /* 체크된 상태일 때 배경색을 변경 */
    background-image: url("/src/assets/check.svg");
    background-size: cover; /* 이미지 크기 조정 */
    background-position: center; /* 이미지 위치 조정 */
    background-repeat: no-repeat; /* 이미지 반복하지 않음 */
    border: 1px solid rgb(54, 54, 54);
  }
}
