.item_rows {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 20px;
}
.item_check {
  margin-right: 170px;
}
.item_file {
  background-color: aqua;
  width: 9rem;
  height: 12rem;
  margin-right: 30px;
}
.item_des {
  width: 30%;
}
.item_des_bold {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Pretendard", "Karla", sans-serif;
  font-size: 14px;
  margin-bottom: 20px;
}
.item_des_thin {
  display: flex;
  justify-content: start;
  align-items: center;
  font-family: "Pretendard", "Karla", sans-serif;
  font-size: 14px;
}

.item_quantity {
  font-family: "Pretendard", "Karla", sans-serif;
  margin-right: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 5rem;
  & label {
    margin-right: 10px;
  }
  & input {
    width: 1rem;
    height: 2rem;
    text-align: center;
    background-color: #f2f4f6;
    border: none;
    font-weight: bold;
  }
  & button {
    width: 1.5rem;
    height: 2rem;
    background-color: #f2f4f6;
    border: none;
    font-weight: bold;
  }
}
.item_quantity {
  & input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }
}
.item_delete button {
  all: unset;
  font-size: 13.5px;
  color: #333d4b;
  text-decoration: underline;
  cursor: pointer;
}
.item_price {
  font-family: "Pretendard", "Karla", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin-left: 140px;
}
/* item_check 클래스명 사용하여 스타일 정의 */
.item_check {
  display: none; /* 기본 체크박스 숨김 */
}

.item_check + label:before {
  content: ""; /* 가상 요소의 내용을 정의 */
  display: inline-block;
  width: 16px;
  height: 16px;
  background-color: white;
  border-radius: 20%;
  border: 1px solid rgb(209, 214, 219);
  position: relative;
  margin-right: 10px;
  cursor: pointer;
}

.item_check:checked + label:before {
  content: "";
  background-color: rgb(54, 54, 54); /* 체크된 상태일 때 배경색을 변경 */
  background-image: url("/src/assets/check.svg");
  background-size: cover; /* 이미지 크기 조정 */
  background-position: center; /* 이미지 위치 조정 */
  background-repeat: no-repeat; /* 이미지 반복하지 않음 */
  border: 1px solid rgb(54, 54, 54);
}
