body {
  font-family: "Pretendard", "Karla", sans-serif;
}
.product_wrapper {
  width: 361px;
  height: 662px;
  margin-bottom: 20px;
  margin-right: 0.5rem;
}
.container {
  padding: 0 20px;
  display: flex;
  align-items: center;
  flex-direction: row;
}

.products {
  padding-top: 40px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.product_men_img {
  width: 361px;
  height: 542px;
}

.product_name,
.product_color_type,
.product_normal_price {
  color: #333d4b;
  font-size: 15px;
  padding-bottom: 5px;
  font-weight: bolder;
}

.product_normal_price {
  padding-bottom: 3px;
  font-size: 15px;
}

.products:last-child {
  margin-bottom: 100px;
}
