.header {
  padding-left: 24px;
  padding-bottom: 16px;
  padding-top: 16px;
  display: block;
  border-bottom: 1px solid #e5e8eb;
  padding: 5px 0 5px 24px; /* 이 부분은 rem 단위를 px로 변환하기 위한 것이 아니므로 유지합니다. */
  margin: 0 -16px 16px 6px;
  color: #5a6587;
  font-size: 15px;
  font-weight: bolder;
}

main {
  display: flex;
  height: 1261px;
  margin: 40px 300px 0 300px;
  gap: 2rem;
}

.info_box {
  display: flex;
  flex-direction: column;
}

.edit_info_header {
  display: flex;
  width: 1030px;
  justify-content: space-between;
  margin-bottom: 20px;
}

.edit_info_header div {
  width: 65px;
  height: 20px;
  font-size: 14px; /* 0.875rem을 px로 변환 */
}

.edit_pw {
  width: 100px;
  height: 20px;
  border: none;
  background-color: #ffffff;
}

.edit_pw span {
  border-bottom: 1px solid #505864;
  color: #505864;
  cursor: pointer;
}

.info_box h6,
.faq,
.logout {
  font-size: 14px; /* 0.875rem을 px로 변환 */
  line-height: 20px; /* 1.25rem을 px로 변환 */
  font-weight: 700;
  border: 1px solid #e6e8eb;
  width: 457px; /* 456.656px를 반올림하여 정수로 표현 */
  height: 20px;
  padding: 16px;
  margin: 0;
}

.faq,
.logout {
  cursor: pointer;
}

.order_box a,
.member_box a {
  display: flex;
  flex-direction: column;
  border: 1px solid #e6e8eb;
  width: 457px; /* 456.656px를 반올림하여 정수로 표현 */
  height: 20px;
  padding: 16px;
  font-size: 12px; /* 0.78rem을 px로 변환 */
  color: #7b858c;
  cursor: pointer;
}

.order_box a.active,
.member_box a.active,
.faq a.active,
.logout a.active {
  background-color: #f8f8f8;
  color: #6a717c;
}

.side_info_box {
  width: 1013px; /* 1013.34px를 반올림하여 정수로 표현 */
  padding: 5px 0 16px 0;
}

.side_header {
  display: flex;
  justify-content: space-between;
}

.side_info_box_line {
  border-bottom: 1px solid #e5e8eb;
  width: 1020px;
  height: 1px;
  margin: 10px 0;
}

.side_header_1 {
  font-size: 14px; /* 0.875rem을 px로 변환 */
  line-height: 20px; /* 1.25rem을 px로 변환 */
  font-weight: 700;
}

.side_info_box label {
  font-size: 14px; /* 0.875rem을 px로 변환 */
}

.edit_id {
  display: flex;
  gap: 20px;
}

.edit_id input {
  width: 463px; /* 462.672px를 반올림하여 정수로 표현 */
  height: 46px;
  padding: 0 16px;
  border: 1px solid #c2c9cf;
  margin: 4px 0;
  border-radius: 6px; /* 0.375rem을 px로 변환 */
  cursor: default;
  pointer-events: none;
  background-color: #f1f4f6;
}

.edit_id div {
  display: flex;
  flex-direction: column;
}

.phone_number {
  margin-top: 20px;
}

.number_input {
  display: flex;
  gap: 15px;
}

.number_input input {
  width: 121px; /* 120.891px를 반올림하여 정수로 표현 */
  height: 30px;
  padding: 8px 16px;
  border: 1px solid #c2c9cf;
  margin: 0;
  border-radius: 6px; /* 0.375rem을 px로 변환 */
  cursor: default;
  pointer-events: none;
  background-color: #f1f4f6;
}

.re_authenticate button {
  background-color: #ffffff;
  border: 1px solid #6f7379;
  border-radius: 6px; /* 0.375rem을 px로 변환 */
  padding: 0 16px;
  width: 493px; /* 492.531px를 반올림하여 정수로 표현 */
  color: #888d95;
  height: 46px;
  font-weight: 400;
  cursor: pointer;
}

.re_authenticate p {
  column-gap: 0.25rem;
  font-size: 12px; /* 0.75rem을 px로 변환 */
  margin-bottom: 20px;
}

.edit_info_delivery {
  display: flex;
  width: 1030px;
  justify-content: space-between;
  margin-bottom: 20px;
  margin-top: 20px;
}

.edit_info_delivery div {
  width: 65px;
  height: 20px;
  font-size: 14px; /* 0.875rem을 px로 변환 */
}

.address_button {
  display: flex;
}

.existing_address {
  width: 116px;
  height: 46px;
  padding: 0 20px;
  border-radius: 6px; /* 0.375rem을 px로 변환 */
  border: 1px solid #bcc3cb;
  font-size: 14px; /* 0.875rem을 px로 변환 */
  background-color: #ffffff;
  cursor: pointer;
}

.new_address {
  margin-left: 16px;
  width: 116px;
  height: 46px;
  padding: 0 20px;
  border-radius: 6px; /* 0.375rem을 px로 변환 */
  border: 1px solid #bcc3cb;
  font-size: 14px; /* 0.875rem을 px로 변환 */
  background-color: #ffffff;
  cursor: pointer;
}

.existing_address.active,
.new_address.active {
  background-color: #191f28;
  color: white;
  border: 1px solid #191f28;
}

.delivery_info {
  display: flex;
  margin-top: 20px;
}

.delivery_info div {
  display: flex;
  flex-direction: column;
}

.delivery_info input {
  width: 280px;
  height: 46px;
  padding: 0 16px;
  margin-top: 4px;
  border-radius: 6px; /* 0.375rem을 px로 변환 */
  border: 1px solid #bcc3cb;
}

.delivery_name {
  margin-left: 16px;
}

.delivery_number_text {
  margin: 16px 0;
}

.delivery_number {
  display: flex;
  gap: 15px;
}

.delivery_number input {
  width: 60px;
  height: 32px;
  padding: 8px 16px;
  border-radius: 6px; /* 0.375rem을 px로 변환 */
  border: 1px solid #bcc3cb;
  font-size: 15px; /* 0.9375rem을 px로 변환 */
  line-height: 22px; /* 1.375rem을 px로 변환 */
}

.address_input {
  display: flex;
  gap: 15px;
  margin-top: 4px;
}

.address_input input {
  width: 490px;
  height: 46px;
  padding: 0 16px;
  border-radius: 6px; /* 0.375rem을 px로 변환 */
  border: 1px solid #bcc3cb;
  cursor: default;
  pointer-events: none;
  background-color: #f1f4f6;
}

.address_input button {
  width: 105px;
  height: 48px;
  border-radius: 6px; /* 0.375rem을 px로 변환 */
  border: none;
  cursor: pointer;
}

.detail_address {
  margin-top: 8px;
}

.detail_address input {
  width: 610px;
  height: 46px;
  border-radius: 6px; /* 0.375rem을 px로 변환 */
  border: 1px solid #bcc3cb;
  padding: 0 16px;
}

.delivery_request {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.delivery_request input {
  margin-top: 5px;
  width: 610px;
  height: 46px;
  border-radius: 6px; /* 0.375rem을 px로 변환 */
  border: 1px solid #bcc3cb;
  padding: 0 16px;
}

.register_address {
  margin: 16px 0;
}

.edit_complete button {
  width: 220px;
  height: 48px;
  background-color: #191f28;
  color: white;
  border: 1px solid #191f28;
  border-radius: 6px; /* 0.375rem을 px로 변환 */
  margin-bottom: 16px;
}

.marketing_consent {
  margin: 16px 0;
}

.cancel_account button {
  width: 220px;
  height: 48px;
  background-color: #ffffff;
  color: #20252e;
  border: 1px solid #898c91;
  border-radius: 6px; /* 0.375rem을 px로 변환 */
  margin-top: 10px;
}
