main {
  font-family: "Pretendard", "Karla", sans-serif;
  display: flex;
  margin: auto;
}

.info_title {
  font-size: 14px;
}
.person_info {
  display: flex;
  justify-content: center;
  align-items: center;
}

.person_name {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

.person_phone {
  display: flex;
  flex-direction: column;
}

.phone_boxes {
  display: flex;
  justify-content: center;
  align-items: center;
}

.input_field {
  font-family: "Pretendard", "Karla", sans-serif;
  height: 20px; /* 높이 설정 */
  font-size: 12px; /* 글꼴 크기 */
  padding: 10px; /* 패딩 */
  border: 1px solid #d2d6db; /* 테두리 스타일과 색상 */
  border-radius: 5px; /* 테두리 둥글기 */
  margin-right: 10px;
  color: #f2f4f6;
}
.label_field {
  color: rgb(51 61 75);
  font-size: 14px;
  margin-bottom: 10px;
}
#name {
  width: 263px;
}

.phone_boxes_num input[type="tel"] {
  width: 55px;
}
