.login {
  display: flex;
  justify-content: center;
  width: 448px;
  height: 420px;
  padding-top: 56px;
  margin: 0 740px 0 740px;
}

.login_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
}

.login_box h2 {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  margin-bottom: 30px;
  color: #333d4b;
}

.id_box,
.pw_box {
  display: flex;
  flex-direction: column;
  width: 448px;
  height: 80px;
  margin-bottom: 16px;
}

.id_box label,
.pw_box label {
  font-size: 14px;
  line-height: 20px;
  height: 20px;
  color: #574c4a;
}

.id_box input,
.pw_box input {
  padding: 0 16px 0 16px;
  height: 50px;
  font-size: 15px;
  line-height: 22px;
  border: 1px solid rgb(176 184 193);
  border-radius: 6px;
}

.check_box {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #574c4a;
}

.check_left {
  display: flex;
  color: #5a6561;
  font-size: 13px;
}

.check_right {
  display: flex;
  color: #5a6561;
  font-size: 13px;
}

.login_button,
.signup_button {
  width: 450px;
  height: 48px;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  font-size: 13px;
  cursor: pointer;
}

.login_button {
  background-color: #333;
  color: #fff;
}

.signup_button {
  background-color: #fff;
  color: #333;
  border: 1px solid #363636;
}

.help_link {
  font-size: 14px;
  color: #888;
  cursor: pointer;
  margin: 10px 172px 0 172px;
}

.blank {
  border-right: 1px solid #5a6561;
  padding: 0 5px 0 5px;
  margin-right: 5px;
}
