body {
  font-family: "Pretendard", "Karla", sans-serif;
}

.wrapper {
  padding-top: 56px;
  display: flex;
}

.wrapper img {
  padding-left: 125px;
  width: 639px;
  height: 960px;
}

.product_title {
  font-size: 18px;
  font-weight: bolder;
}

.product {
  display: flex;
}

.product_info {
  padding-left: 80px;
  max-width: 400px;
}

.product_detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product_guide {
  color: rgb(109, 118, 132);
  text-decoration-line: underline;
  cursor: pointer;
  font-size: 13px;
  line-height: 18px;
  font-family: "Pretendard", "Karla", sans-serif;
}

.product_name {
  font-weight: bolder;
  font-size: 18px;
  display: flex;
  color: #363636;
}

.product_description {
  margin-top: 5px;

  font-weight: bolder;
  font-size: 18px;
  display: flex;
  color: #9f9f9f;
  line-height: 25px;
}

.product_price {
  font-weight: bolder;
  font-size: 18px;
  display: flex;
  padding-top: 6px;
  padding-bottom: 6px;
}

.size_button {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  padding: 7px;
  margin: 5px;
  margin-top: 15px;
  width: 50px;
  height: 42px;
  background-color: #f8f8f8;
  border-radius: 10px;
  cursor: pointer;
}

.size_button__selected {
  display: inline-block;
  text-align: center;
  font-size: 14px;
  line-height: 40px;
  background-color: black;
  color: white;
}

.selection_size {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 15px;
  margin-bottom: 15px;
  width: 370px;
  height: 48px;
  background-color: #333d4b;
  color: white;
  border-radius: 10px;
}

.action_buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}

.buy_button,
.cart_button {
  text-align: center;
  height: 48px;
  border-radius: 10px;
  margin-top: 15px;
  margin-bottom: 15px;
  cursor: pointer;
  border: none;
}

.buy_button {
  width: 175px;
  background-color: black;
  color: white;
}

.cart_button {
  width: 175px;
  background-color: white;
  border: 1px solid #e5e8eb;
  color: black;
}

.detail {
  margin-top: 30px;
  background-color: rgb(255, 255, 255);
  color: #333d4b;
  box-shadow: none;
  position: relative;
  overflow-anchor: none;
  border: none;
}

.detail_title {
  cursor: pointer;
  font-size: 13px;
  font-weight: 600;
  margin-bottom: 20px;
}

.detail_item {
  font-size: 12px;
  color: #000000de;
  line-height: 2;
  margin-bottom: 20px;
}
